---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 21 Sep 2020 16:14:20 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=529187092"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=603181873"}]}]}'
  recorded_at: Mon, 21 Sep 2020 16:14:16 GMT
- request:
    method: get
    uri: https://www.mountainproject.com/data/get-routes-for-lat-lon?key=200920803-79c25dc27a5f4a234882975b94192ce4&lat=39.74&lon=-104.98
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 8861a983-1992-45ab-b7a2-29f0cdc7b1e2
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "routes": [
                {
                    "id": 105748786,
                    "name": "The Naked Edge",
                    "type": "Trad",
                    "rating": "5.11b",
                    "stars": 4.9,
                    "starVotes": 345,
                    "pitches": 6,
                    "location": [
                        "Colorado",
                        "Boulder",
                        "Eldorado Canyon SP",
                        "Redgarden Wall",
                        "Redgarden - Tower Two"
                    ],
                    "url": "https:\/\/www.mountainproject.com\/route\/105748786\/the-naked-edge",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_sqsmall_1494354956.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_small_1494354956.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_smallMed_1494354956.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/climb\/110822565_medium_1494354956.jpg",
                    "longitude": -105.2852,
                    "latitude": 39.9312
                },
                {
                    "id": 105748657,
                    "name": "The Yellow Spur",
                    "type": "Trad",
                    "rating": "5.9+",
                    "stars": 4.8,
                    "starVotes": 1001,
                    "pitches": 6,
                    "location": [
                        "Colorado",
                        "Boulder",
                        "Eldorado Canyon SP",
                        "Redgarden Wal[...]
