---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&query=chicago,%20il%20city%20buildings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=25725&query=chicago%2C+il+city+buildings>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=2&query=chicago%2C+il+city+buildings>;
        rel="next"
      X-Total:
      - '257244'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"total":257244,"total_pages":25725,"results":[{"id":"1k671chUm0Y","created_at":"2019-11-16T11:25:17-05:00","updated_at":"2020-08-21T01:13:31-04:00","promoted_at":"2019-11-16T16:32:46-05:00","width":6000,"height":4000,"color":"#0F0F12","description":"River
        Place on the Park is a 21-story high-rise located in the River North neighborhood
        of Chicago.","alt_description":"high-rise building under blue sky","urls":{"raw":"https://images.unsplash.com/photo-1573921470445-8d99c48c879f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2NzY2OX0","full":"https://images.unsplash.com/photo-1573921470445-8d99c48c879f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2NzY2OX0","regular":"https://images.unsplash.com/photo-1573921470445-8d99c48c879f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","small":"https://images.unsplash.com/photo-1573921470445-8d99c48c879f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","thumb":"https://images.unsplash.com/photo-1573921470445-8d99c48c879f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0"},"links":{"self":"https://api.unsplash.com/photos/1k671chUm0Y","html":"https://unsplash.com/photos/1k671chUm0Y","download":"https://unsplash.com/photos/1k671chUm0Y/download","download_location":"https://api.unsplash.com/photos/1k671chUm0Y/download"},"categories":[],"likes":69,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"MocKbl9vr0c","updated_at":"2020-09-20T03:14:59-04:00","username":"snapsbyclark","name":"Clark
        Van Der Beken","first_name":"Clark","last_name":"Van Der Beken","twitter_username":"clarkgvan","portfolio_url":"https://www.instagram.com/snapsbyclark/","bio":"\ud83d\udc4b\ud83c\udffd
        One of only 42,926 people named Clark in the U.S. | \ud83d\udccdBoston | \ud83c\udff3\ufe0f\u200d\ud83c\udf08Proud
        ","location":"Boston, MA","links":{"self":"https://api.unsplash.com/users/snapsbyclark","html":"https://unsplash.com/@snapsbyclark","photos":"https://api.unsplash.com/users/snapsbyclark/photos","likes":"https://api.unsplash.com/users/snapsbyclark/likes","portfolio":"https://api.unsplash.com/users/snapsbyclark/portfolio","following":"https://api.unsplash.com/users/snapsbyclark/following","followers":"https://api.unsplash.com/users/snapsbyclark/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1556497771011-c5897af6c53b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1556497771011-c5897af6c53b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1556497771011-c5897af6c53b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"snapsbyclark","total_collections":13,"total_likes":244,"total_photos":134,"accepted_tos":true},"tags":[{"type":"search","title":"building"},{"type":"search","title":"condo"},{"type":"search","title":"housing"}]},{"id":"M00GK6sF_n8","created_at":"2020-04-03T02:19:47-04:00","updated_at":"2020-04-21T01:24:18-04:00","promoted_at":null,"width":7798,"height":5477,"color":"#DEE2E9","description":null,"alt_description":"brown
        concrete building during daytime","urls":{"raw":"https://images.unsplash.com/photo-1585894721366-d5c6e3e112d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2NzY2OX0","full":"https://images.unsplash.com/photo-1[...]
[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&query=new%20york%20city%20city%20buildings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=26850&query=new+york+city+city+buildi[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&query=new%20york%20ny%20city%20buildings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=26939&query=new+york+ny+city+buildings>[...]
