---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=%7B%22location%22=%3E%22denver,%20co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 20 Sep 2020 19:59:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,
        co\"}"},"locations":[{"street":"Denver West County Mills Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p1/1805902","unknownInput":"","type":"s","latLng":{"lat":39.72906,"lng":-105.16534},"displayLatLng":{"lat":39.72906,"lng":-105.16534},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.72906,-105.16534|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-553722472"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Aiken","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"SC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"29803","geocodeQualityCode":"B3CCA","geocodeQuality":"ST[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.73&lon=-105.17&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-105.17,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600631940,"sunrise":1600606017,"sunset":1600650056,"temp":77.43,"feels_like":76.41,"pressure":1020,"humidity":38,"dew_point":49.86,"uvi":6.79,"clouds":100,"visibility":10000,"wind_speed":1.88,"wind_deg":29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1600631940,"precipitation":0},{"dt":1600632000,"precipitation":0},{"dt":1600632060,"precipitation":0},{"dt":1600632120,"precipitation":0},{"dt":1600632180,"precipitation":0},{"dt":1600632240,"precipitation":0},{"dt":1600632300,"precipitation":0},{"dt":1600632360,"precipitation":0},{"dt":1600632420,"precipitation":0},{"dt":1600632480,"precipitation":0},{"dt":1600632540,"precipitation":0},{"dt":1600632600,"precipitation":0},{"dt":1600632660,"precipitation":0},{"dt":1600632720,"precipitation":0},{"dt":1600632780,"precipitati[...]
