---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=%7B%22location%22=%3E%22denver,%20co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 20 Sep 2020 20:16:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,
        co\"}"},"locations":[{"street":"Denver West County Mills Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p1/1805902","unknownInput":"","type":"s","latLng":{"lat":39.72906,"lng":-105.16534},"displayLatLng":{"lat":39.72906,"lng":-105.16534},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.72906,-105.16534|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1017279238"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Aiken","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"SC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"29803","geocodeQualityCode":"B3CCA","geocodeQuality":"S[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.73&lon=-105.17&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-105.17,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600632984,"sunrise":1600606017,"sunset":1600650056,"temp":78.78,"feels_like":77.16,"pressure":1020,"humidity":32,"dew_point":46.47,"uvi":6.79,"clouds":100,"visibility":10000,"wind_speed":1.39,"wind_deg":54,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1600633020,"precipitation":0},{"dt":1600633080,"precipitation":0},{"dt":1600633140,"precipitation":0},{"dt":1600633200,"precipitation":0},{"dt":1600633260,"precipitation":0},{"dt":1600633320,"precipitation":0},{"dt":1600633380,"precipitation":0},{"dt":1600633440,"precipitation":0},{"dt":1600633500,"precipitation":0},{"dt":1600633560,"precipitation":0},{"dt":1600633620,"precipitation":0},{"dt":1600633680,"precipitation":0},{"dt":1600633740,"precipitation":0},{"dt":1600633800,"precipitation":0},{"dt":1600633860,"precipitati[...]
