---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=%7B%22location%22=%3E%22asdkfjalskdfj%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 02:30:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"asdkfjalskdfj\"}"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Martins
        Location","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"NH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"US/GEO/p0/46974","unknownInput":"","type":"s","latLng":{"lat":44.32686,"lng":-71.21378},"displayLatLng":{"lat":44.32686,"lng":-71.21378},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=44.32686,-71.21378|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1726556182"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Greater
        Tubatse-Fetakgomo","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Limpopo","adminArea3Type":"State","adminArea1":"ZA","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQual[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=44.32686&lon=-71.21378&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.33,"lon":-71.21,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600828239,"sunrise":1600770751,"sunset":1600814537,"temp":50.52,"feels_like":45.32,"pressure":1011,"humidity":81,"dew_point":44.92,"uvi":4.58,"clouds":1,"visibility":10000,"wind_speed":7.14,"wind_deg":304,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1600828260,"precipitation":0},{"dt":1600828320,"precipitation":0},{"dt":1600828380,"precipitation":0},{"dt":1600828440,"precipitation":0},{"dt":1600828500,"precipitation":0},{"dt":1600828560,"precipitation":0},{"dt":1600828620,"precipitation":0},{"dt":1600828680,"precipitation":0},{"dt":1600828740,"precipitation":0},{"dt":1600828800,"precipitation":0},{"dt":1600828860,"precipitation":0},{"dt":1600828920,"precipitation":0},{"dt":1600828980,"precipitation":0},{"dt":1600829040,"precipitation":0},{"dt":1600829100,"precipitati[...]
