---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=%7B%22location%22=%3E%22denver,%20co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 29 Sep 2020 17:01:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,
        co\"}"},"locations":[{"street":"Denver West County Mills Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/2319419","unknownInput":"","type":"s","latLng":{"lat":39.72906,"lng":-105.16534},"displayLatLng":{"lat":39.72906,"lng":-105.16534},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.72906,-105.16534|marker-sm-50318A-1&scalebar=true&zoom=15&rand=100630120"},{"street":"Denver
        Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Blanca","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"81123","geocodeQualityCode":"B3CCA","geocodeQuality[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.72906&lon=-105.16534&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-105.17,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1601398909,"sunrise":1601384123,"sunset":1601426764,"temp":70.93,"feels_like":65.98,"pressure":1028,"humidity":22,"dew_point":30.43,"uvi":5.98,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":293,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1601398920,"precipitation":0},{"dt":1601398980,"precipitation":0},{"dt":1601399040,"precipitation":0},{"dt":1601399100,"precipitation":0},{"dt":1601399160,"precipitation":0},{"dt":1601399220,"precipitation":0},{"dt":1601399280,"precipitation":0},{"dt":1601399340,"precipitation":0},{"dt":1601399400,"precipitation":0},{"dt":1601399460,"precipitation":0},{"dt":1601399520,"precipitation":0},{"dt":1601399580,"precipitation":0},{"dt":1601399640,"precipitation":0},{"dt":1601399700,"precipitation":0},{"dt":1601399760,"precipitati[...]
