---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&query=%7B%22location%22=%3E%22%22%7D%20city%20buildings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=25649&query=%7B%22location%22%3D%3E%22%22%7D+city+buildings>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=2&query=%7B%22location%22%3D%3E%22%22%7D+city+buildings>;
        rel="next"
      X-Total:
      - '256490'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":256490,"total_pages":25649,"results":[{"id":"7JKydxAxubI","created_at":"2020-01-16T13:09:51-05:00","updated_at":"2020-08-07T02:06:47-04:00","promoted_at":"2020-01-17T05:44:04-05:00","width":3901,"height":5851,"color":"#FFFFE2","description":"The
        Shard Reflexed ","alt_description":"city during during daytime","urls":{"raw":"https://images.unsplash.com/photo-1579198175390-62466fc79ea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2NzY2OX0","full":"https://images.unsplash.com/photo-1579198175390-62466fc79ea2?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2NzY2OX0","regular":"https://images.unsplash.com/photo-1579198175390-62466fc79ea2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","small":"https://images.unsplash.com/photo-1579198175390-62466fc79ea2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","thumb":"https://images.unsplash.com/photo-1579198175390-62466fc79ea2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0"},"links":{"self":"https://api.unsplash.com/photos/7JKydxAxubI","html":"https://unsplash.com/photos/7JKydxAxubI","download":"https://unsplash.com/photos/7JKydxAxubI/download","download_location":"https://api.unsplash.com/photos/7JKydxAxubI/download"},"categories":[],"likes":54,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"k6ri0-abvDE","updated_at":"2020-09-20T09:22:40-04:00","username":"lawlesscapture","name":"Lawless
        Capture","first_name":"Lawless","last_name":"Capture","twitter_username":null,"portfolio_url":"https://www.instagram.com/lawlesscapture/","bio":"I''m
        a moviemaker and photographer from Portugal, currently working in Paris, France.
        \r\nThanks for the support and appreciate all photo credit :)\r\n www.instagram.com/lawlesscapture","location":"Now
        in Portugal","links":{"self":"https://api.unsplash.com/users/lawlesscapture","html":"https://unsplash.com/@lawlesscapture","photos":"https://api.unsplash.com/users/lawlesscapture/photos","likes":"https://api.unsplash.com/users/lawlesscapture/likes","portfolio":"https://api.unsplash.com/users/lawlesscapture/portfolio","following":"https://api.unsplash.com/users/lawlesscapture/following","followers":"https://api.unsplash.com/users/lawlesscapture/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1580383480396-8072b73644f6image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1580383480396-8072b73644f6image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1580383480396-8072b73644f6image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"lawlesscapture","total_collections":0,"total_likes":179,"total_photos":90,"accepted_tos":true},"tags":[{"type":"search","title":"building"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-08-28T01:07:07-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
