---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&query=%7B%22location%22=%3E%22los%20angeles,%20ca%22%7D%20city%20buildings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=24957&query=%7B%22location%22%3D%3E%22los+angeles%2C+ca%22%7D+city+buildings>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=2&query=%7B%22location%22%3D%3E%22los+angeles%2C+ca%22%7D+city+buildings>;
        rel="next"
      X-Total:
      - '249561'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":249561,"total_pages":24957,"results":[{"id":"MqnJttIdHGQ","created_at":"2020-01-15T11:26:11-05:00","updated_at":"2020-09-28T01:06:44-04:00","promoted_at":"2020-01-15T16:50:53-05:00","width":5089,"height":6481,"color":"#F8E9E4","blur_hash":"L99ZyH%1DO=y%gxZ,C%20zoKxaWq","description":null,"alt_description":"person
        walking on street between buildings with string light on toabove","urls":{"raw":"https://images.unsplash.com/photo-1579105472133-d6ed04e1bfc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2NzY2OX0","full":"https://images.unsplash.com/photo-1579105472133-d6ed04e1bfc9?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2NzY2OX0","regular":"https://images.unsplash.com/photo-1579105472133-d6ed04e1bfc9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","small":"https://images.unsplash.com/photo-1579105472133-d6ed04e1bfc9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","thumb":"https://images.unsplash.com/photo-1579105472133-d6ed04e1bfc9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0"},"links":{"self":"https://api.unsplash.com/photos/MqnJttIdHGQ","html":"https://unsplash.com/photos/MqnJttIdHGQ","download":"https://unsplash.com/photos/MqnJttIdHGQ/download","download_location":"https://api.unsplash.com/photos/MqnJttIdHGQ/download"},"categories":[],"likes":206,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"sd-_3jJwYiA","updated_at":"2020-09-12T03:58:45-04:00","username":"gabrieluizramos","name":"Gabriel
        Ramos","first_name":"Gabriel","last_name":"Ramos","twitter_username":"gabrieluizramos","portfolio_url":"https://www.instagram.com/gabrieluizramos/","bio":"software
        developer, mobile photographer, musician, drone pilot and dad of 3 cats. Shooting
        with smartphones and DJI Mavic Pro :)","location":"S\u00e3o Paulo, Brazil","links":{"self":"https://api.unsplash.com/users/gabrieluizramos","html":"https://unsplash.com/@gabrieluizramos","photos":"https://api.unsplash.com/users/gabrieluizramos/photos","likes":"https://api.unsplash.com/users/gabrieluizramos/likes","portfolio":"https://api.unsplash.com/users/gabrieluizramos/portfolio","following":"https://api.unsplash.com/users/gabrieluizramos/following","followers":"https://api.unsplash.com/users/gabrieluizramos/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1588210524389-ddd3f29279c8image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1588210524389-ddd3f29279c8image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1588210524389-ddd3f29279c8image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"gabrieluizramos","total_collections":6,"total_likes":664,"total_photos":166,"accepted_tos":true},"tags":[{"type":"search","title":"building"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-08-28T01:07:07-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
