---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&query=%7B%22location%22=%3E%22los%20angeles,%20ca%22%7D%20city%20buildings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=26590&query=%7B%22location%22%3D%3E%22los+angeles%2C+ca%22%7D+city+buildings>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=tJTMxBRuBvliA1Mv27GhmfnMF0C28b__AcdKu2qlIfk&order_by=relevant&page=2&query=%7B%22location%22%3D%3E%22los+angeles%2C+ca%22%7D+city+buildings>;
        rel="next"
      X-Total:
      - '265900'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":265900,"total_pages":26590,"results":[{"id":"8MoRs-DVtas","created_at":"2020-08-18T04:28:12-04:00","updated_at":"2020-09-17T04:21:01-04:00","promoted_at":"2020-09-17T04:21:01-04:00","width":2205,"height":3920,"color":"#FB9574","description":"El
        Acebo - Almost sunrise ","alt_description":"empty street with red and white
        houses during daytime","urls":{"raw":"https://images.unsplash.com/photo-1597739239353-50270a473397?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2NzY2OX0","full":"https://images.unsplash.com/photo-1597739239353-50270a473397?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2NzY2OX0","regular":"https://images.unsplash.com/photo-1597739239353-50270a473397?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","small":"https://images.unsplash.com/photo-1597739239353-50270a473397?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0","thumb":"https://images.unsplash.com/photo-1597739239353-50270a473397?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2NzY2OX0"},"links":{"self":"https://api.unsplash.com/photos/8MoRs-DVtas","html":"https://unsplash.com/photos/8MoRs-DVtas","download":"https://unsplash.com/photos/8MoRs-DVtas/download","download_location":"https://api.unsplash.com/photos/8MoRs-DVtas/download"},"categories":[],"likes":226,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"hhXdR2PT-g4","updated_at":"2020-09-22T13:18:01-04:00","username":"daniele71043","name":"Daniele
        Colucci","first_name":"Daniele","last_name":"Colucci","twitter_username":"Daniele71043","portfolio_url":"https://dribbble.com/Daniele_Colucci","bio":"I''m
        a solo traveller & photographer.\r\nDownload free and high-quality photos
        shot by me around the world Instagram | @Daniele71043 ","location":"Manfredonia","links":{"self":"https://api.unsplash.com/users/daniele71043","html":"https://unsplash.com/@daniele71043","photos":"https://api.unsplash.com/users/daniele71043/photos","likes":"https://api.unsplash.com/users/daniele71043/likes","portfolio":"https://api.unsplash.com/users/daniele71043/portfolio","following":"https://api.unsplash.com/users/daniele71043/following","followers":"https://api.unsplash.com/users/daniele71043/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1599498849251-35d2045d15d5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1599498849251-35d2045d15d5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1599498849251-35d2045d15d5image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Daniele71043","total_collections":0,"total_likes":0,"total_photos":12,"accepted_tos":true},"tags":[{"type":"search","title":"road"},{"type":"search","title":"building"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-08-28T01:07:07-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
