---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 03:14:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=586888134"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-526204624"}]}]}'
  recorded_at: Wed, 23 Sep 2020 03:14:46 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600830888,"sunrise":1600778883,"sunset":1600822611,"temp":66.83,"feels_like":58.46,"pressure":1021,"humidity":30,"dew_point":34.43,"uvi":7.24,"clouds":75,"visibility":10000,"wind_speed":9.17,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1600830000,"temp":66.83,"feels_like":59.47,"pressure":1021,"humidity":30,"dew_point":34.43,"clouds":75,"visibility":10000,"wind_speed":7.38,"wind_deg":138,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.84},{"dt":1600833600,"temp":68.02,"feels_like":63.19,"pressure":1020,"humidity":35,"dew_point":39.38,"clouds":87,"visibility":10000,"wind_speed":4.41,"wind_deg":260,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.87},{"dt":1600837200,"temp":69.24,"feels_like":64.72,"pressure":1019,"humidity":36,"dew_point":41.18,"clouds":95,"visibility":10000,"wind_speed":4.47,"wind_deg":265,"weather":[{"id":804,"main":"Clouds","description":"overcast
       [...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600830889,"sunrise":1600778883,"sunset":1600822611,"temp":66.83,"feels_like":58.46,"pressure":1021,"humidity":30,"dew_point":34.43,"uvi":7.24,"clouds":75,"visibility":10000,"wind_speed":9.17,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1600830900,"precipitation":0},{"dt":1600830960,"precipitation":0},{"dt":1600831020,"precipitation":0},{"dt":1600831080,"precipitation":0},{"dt":1600831140,"precipitation":0},{"dt":1600831200,"precipitation":0},{"dt":1600831260,"precipitation":0},{"dt":1600831320,"precipitation":0},{"dt":1600831380,"precipitation":0},{"dt":1600831440,"precipitation":0},{"dt":1600831500,"precipitation":0},{"dt":1600831560,"precipitation":0},{"dt":1600831620,"precipitation":0},{"dt":1600831680,"precipitation":0},{"dt":1600831740,"precipitati[...]
[...]
