---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.74&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600612173,"sunrise":1600605971,"sunset":1600650010,"temp":62.29,"feels_like":54.59,"pressure":1020,"humidity":41,"dew_point":38.32,"uvi":6.76,"clouds":40,"visibility":10000,"wind_speed":9.17,"wind_deg":170,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1600612200,"precipitation":0},{"dt":1600612260,"precipitation":0},{"dt":1600612320,"precipitation":0},{"dt":1600612380,"precipitation":0},{"dt":1600612440,"precipitation":0},{"dt":1600612500,"precipitation":0},{"dt":1600612560,"precipitation":0},{"dt":1600612620,"precipitation":0},{"dt":1600612680,"precipitation":0},{"dt":1600612740,"precipitation":0},{"dt":1600612800,"precipitation":0},{"dt":1600612860,"precipitation":0},{"dt":1600612920,"precipitation":0},{"dt":1600612980,"precipitation":0},{"dt":1600613040,"precipitati[...]
