---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.74&lon=-104.98
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600533677,"sunrise":1600519516,"sunset":1600563710,"temp":298.7,"feels_like":293.5,"pressure":1020,"humidity":22,"dew_point":275.44,"uvi":7.04,"clouds":75,"visibility":10000,"wind_speed":5.1,"wind_deg":210,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1600533720,"precipitation":0},{"dt":1600533780,"precipitation":0},{"dt":1600533840,"precipitation":0},{"dt":1600533900,"precipitation":0},{"dt":1600533960,"precipitation":0},{"dt":1600534020,"precipitation":0},{"dt":1600534080,"precipitation":0},{"dt":1600534140,"precipitation":0},{"dt":1600534200,"precipitation":0},{"dt":1600534260,"precipitation":0},{"dt":1600534320,"precipitation":0},{"dt":1600534380,"precipitation":0},{"dt":1600534440,"precipitation":0},{"dt":1600534500,"precipitation":0},{"dt":1600534560,"precipitati[...]
