---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.74&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600631387,"sunrise":1600605971,"sunset":1600650010,"temp":79.56,"feels_like":70.65,"pressure":1021,"humidity":20,"dew_point":35.01,"uvi":6.76,"clouds":40,"visibility":10000,"wind_speed":10.29,"wind_deg":340,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1600631400,"precipitation":0},{"dt":1600631460,"precipitation":0},{"dt":1600631520,"precipitation":0},{"dt":1600631580,"precipitation":0},{"dt":1600631640,"precipitation":0},{"dt":1600631700,"precipitation":0},{"dt":1600631760,"precipitation":0},{"dt":1600631820,"precipitation":0},{"dt":1600631880,"precipitation":0},{"dt":1600631940,"precipitation":0},{"dt":1600632000,"precipitation":0},{"dt":1600632060,"precipitation":0},{"dt":1600632120,"precipitation":0},{"dt":1600632180,"precipitation":0},{"dt":1600632240,"precipitati[...]
