---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.74&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1601398892,"sunrise":1601384078,"sunset":1601426718,"temp":71.08,"feels_like":62.11,"pressure":1026,"humidity":18,"dew_point":26.22,"uvi":5.94,"clouds":20,"visibility":10000,"wind_speed":8.05,"wind_deg":210,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1601398920,"precipitation":0},{"dt":1601398980,"precipitation":0},{"dt":1601399040,"precipitation":0},{"dt":1601399100,"precipitation":0},{"dt":1601399160,"precipitation":0},{"dt":1601399220,"precipitation":0},{"dt":1601399280,"precipitation":0},{"dt":1601399340,"precipitation":0},{"dt":1601399400,"precipitation":0},{"dt":1601399460,"precipitation":0},{"dt":1601399520,"precipitation":0},{"dt":1601399580,"precipitation":0},{"dt":1601399640,"precipitation":0},{"dt":1601399700,"precipitation":0},{"dt":1601399760,"precipitati[...]
