---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.74&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600652531,"sunrise":1600605971,"sunset":1600650010,"temp":73.8,"feels_like":63.28,"pressure":1021,"humidity":23,"dew_point":33.73,"uvi":6.76,"clouds":75,"visibility":10000,"wind_speed":12.75,"wind_deg":350,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1600652580,"precipitation":0},{"dt":1600652640,"precipitation":0},{"dt":1600652700,"precipitation":0},{"dt":1600652760,"precipitation":0},{"dt":1600652820,"precipitation":0},{"dt":1600652880,"precipitation":0},{"dt":1600652940,"precipitation":0},{"dt":1600653000,"precipitation":0},{"dt":1600653060,"precipitation":0},{"dt":1600653120,"precipitation":0},{"dt":1600653180,"precipitation":0},{"dt":1600653240,"precipitation":0},{"dt":1600653300,"precipitation":0},{"dt":1600653360,"precipitation":0},{"dt":1600653420,"precipitati[...]
